<div class="list-group">
  <a href="/painel" class="list-group-item list-group-item-action">Início</a>
  <a href="/relatorios" class="list-group-item list-group-item-action">Relatórios</a>
  <a href="/configuracoes" class="list-group-item list-group-item-action">Configurações</a>
</div>
