{% if flash.sucesso %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ flash.sucesso }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
{% endif %}

{% if flash.erro %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ flash.erro }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
{% endif %}